@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Sigmar&family=Suez+One&display=swap');

.logo{
  width: 45%;
  height: 45%;
  padding-top: 10px;
  padding-left: 20px;
}

header
{
     display: flex;
     justify-content: space-between; /* laisse un espace */
     align-items: center; /* alignement vertical au centre */
}

nav ul 
{
    list-style-type: none; /* retire le rond de la liste à puce */
    display: flex;
    margin: 0px;
    color: #545454;
}

nav li
{
    width: 150px;
}

.homepage{
    text-align: center;
    align-items: center; /* alignement vertical au centre */
  }

.main-banner {
  position: relative;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.9); /* Couleur de fond noire avec une opacité de 0.8 */
  margin-bottom: 20px
}
  
.main-banner .accroche {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte */
  text-align: center; /* Centrage horizontal du texte */
}

.accroche{
  font-size: 44px;
  font-family: "Suez one", sans-serif;
}

h2{
  color: #024a7a;
  font-size: 34px;
}

h3{
  color: #545454;
  padding: 5px;
  font-size: 22px;
}

.icone-etape{
  font-size: 28px;
  color: #0079c9;
  margin-right: 10px;
}

.icone-engagement{
  font-size: 28px;
  color: #0079c9;
  margin-right: 10px;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
